<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Meta Data -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FURNIX</title>
	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="32x32" href="/media/favicon-16x16.png">
	<!-- Dependency Styles -->
	<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="/libs/feather-font/css/iconfont.css" type="text/css">
	<link rel="stylesheet" href="/libs/icomoon-font/css/icomoon.css" type="text/css">
	<link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css" type="text/css">
	<link rel="stylesheet" href="/libs/wpbingofont/css/wpbingofont.css" type="text/css">
	<link rel="stylesheet" href="/libs/elegant-icons/css/elegant.css" type="text/css">
	<link rel="stylesheet" href="/libs/slick/css/slick.css" type="text/css">
	<link rel="stylesheet" href="/libs/slick/css/slick-theme.css" type="text/css">
	<link rel="stylesheet" href="/libs/mmenu/css/mmenu.min.css" type="text/css">
	<link rel="stylesheet" href="/libs/slider/css/jslider.css">
	<!-- Site Stylesheet -->
	<link rel="stylesheet" href="/assets/css/app.css" type="text/css">
	<link rel="stylesheet" href="/assets/css/responsive.css" type="text/css">
	<!-- Google Web Fonts -->
	<link
		href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700&amp;display=swap"
		rel="stylesheet">
	<link
		href="https://fonts.googleapis.com/css?family=EB+Garamond:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&amp;display=swap"
		rel="stylesheet">
</head>
<body class="page">
	<div id="page" class="hfeed page-wrapper">
		<header id="site-header" class="site-header header-v2">
			<div class="header-mobile">
				<div class="section-padding">
					<div class="section-container large">
						<div class="row">
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3 header-left">
								<div class="navbar-header">
									<button type="button" id="show-megamenu" class="navbar-toggle"></button>
								</div>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 header-center">
								<div class="site-logo">
									<a href="/">
										<img width="400" height="79" src="media/logo.png" />
									</a>
								</div>
							</div>
							<!-- Search -->
							<div class="search-box" style="position: absolute; top: 25px; right: 30px;">
								<div class="search-toggle"><i class="wpb-icon-magnifying-glass" style="font-size: 20px; color: black;"></i></div>
							</div>
						</div>
					</div>
				</div>
			
				<div class="header-mobile-fixed">
					<!-- Shop -->
					<div class="shop-page">
						<a href="/"><i class="wpb-icon-shop"></i></a>
					</div>
			
					<!-- Wishlist -->
					<div class="wishlist-box">
						<a href="/wishlist"><i class="icon-heart"></i></a>
					</div>
					
					<!-- Cart -->
					<div class="wishlist-box">
						<a class="cart-icon" href="/cart"><i class="icon-large-paper-bag"></i></a>
					</div>

					<!-- Login -->
					<div class="my-account">
						<div class="login-header">
							<a href="/userProfilepage"><i class="wpb-icon-user"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="header-desktop"
				style="background: linear-gradient(94deg, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 53%, rgba(227,227,227,1) 100%);">
				<div class="header-wrapper">
					<div class="section-padding">
						<div class="section-container large p-l-r">
							<div class="row">
								<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 header-left">
									<div class="site-navigation">
										<nav id="main-navigation">
											<ul id="menu-main-menu" class="menu">
												<li class="level-0 menu-item">
													<a href="/"><span class="menu-item-text">home</span></a>
												</li>
												<li class="level-0 menu-item">
													<a href="/allproduct"><span class="menu-item-text">All</span></a>
												</li>
												<li class="level-0 menu-item">
													<a href="/contact"><span class="menu-item-text">Contact</span></a>
												</li>
											</ul>
										</nav>
									</div>
								</div>
								<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12 text-center header-center">
									<div class="site-logo">
										<a href="index2.html">
											<img width="400" height="79" src="media/logo.png" />
										</a>
									</div>
								</div>

								<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 header-right">
									<div class="header-page-link">

										<!-- Search -->
										<div class="search-box" style="margin-right: -8px;">
											<div class="search-toggle"><i class="icon-search"></i></div>
										</div>

										<!-- Wishlist -->
										<div class="wishlist-box">
											<a href="/wishlist"><i class="icon-heart"></i></a>
											<% if (wishCount != undefined) { %>
												<span class="count-wishlist"><%= wishCount %></span>
											<% } else { %>
												<span class="count-wishlist">0</span>
											<% } %>
										</div>
										
										<!-- Cart -->
										<div class="mini-cart top-cart wishlist-box">
											<a class="cart-icon" href="/cart">
											<% if (CartCount != undefined) { %>
												<div class="icons-cart"><i class="icon-large-paper-bag"></i><span class="cart-count"><%= CartCount %></span></div>
											<% } else { %>
												<div class="icons-cart"><i class="icon-large-paper-bag"></i><span class="cart-count">0</span></div>
											<% } %>
											</a>
										</div>
										<!-- profile -->
										<div class="wishlist-box" style="margin-left: -0px;">
											<a href="/userprofilepage"><i class="wpb-icon-user"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div id="site-main" class="site-main">
			<div id="main-content" class="main-content">
				<div id="primary" class="content-area">
					<div id="content" class="site-content" role="main">
						<div class="section-padding">
							<div class="section-container p-l-r">
								<div class="page-404">
									<div class="content-page-404">
										<div class="title-error">
											404
										</div>
										<div class="sub-title">
											Oops! That page can't be found.
										</div>
										<div class="sub-error">
											We're really sorry but we can't seem to find the page you were looking for.
										</div>
										<a class="button" href="/">
											Back The Homepage
										</a>
									</div>
								</div>
							</div>
						</div>
					</div><!-- #content -->
				</div><!-- #primary -->
			</div><!-- #main-content -->
		</div>

		<footer id="site-footer" class="site-footer background">
			<div class="footer">
				<div class="section-padding">
					<div class="section-container large">
						<div class="block-widget-wrap">
							<div class="row">
								<div class="col-lg-3 col-md-6">
									<div class="block block-menu">
										<h2 class="block-title">About</h2>
										<div class="block-content">
											<ul>
												<li>
													<a>Low Shipping charge</a>
												</li>
												<li>
													<a>Flexible Payment</a>
												</li>
												<li>
													<a>Return policy</a>
												</li>
												<li>
													<a>Online support</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-6">
									<div class="block block-menu">
										<h2 class="block-title">Help</h2>
										<div class="block-content">
											<ul>
												<li>
													<a>Contact & FAQ</a>
												</li>
												<li>
													<a>Track Your Order</a>
												</li>
												<li>
													<a>Returns & Refunds</a>
												</li>
												<li>
													<a>Shipping & Delivery</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-6">
									<div class="block block-menu">
										<h2 class="block-title">Services</h2>
										<div class="block-content">
											<ul>
												<li>
													<a>Sale</a>
												</li>
												<li>
													<a>Quick Ship</a>
												</li>
												<li>
													<a>New Designs</a>
												</li>
												<li>
													<a>Accidental Fabric Protection</a>
												</li>
												<li>
													<a>Furniture Care</a>
												</li>
												<li>
													<a>Gift Cards</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-6">
									<div class="block block-newsletter m-b-30">
										<h2 class="block-title">Social media</h2>
										<div class="block-content">
											<div class="newsletter-text">Follow us on social media to stay updated with the latest information.</div>
										</div>
									</div>
									<div class="block block-social">
										<ul class="social-link">
											<li><a href="https://www.instagram.com/e_zed_/"><i class="fa fa-instagram"></i></a></li>
											<li><a href="https://www.linkedin.com/in/sameen-ka/"><i class="fa fa-linkedin"></i></a></li>
											<li><a href="https://github.com/Sameen-K-A"><i class="fa fa-github"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="section-padding">
					<div class="section-container large">
						<div class="block-widget-wrap">
							<div class="row">
								<div class="col-md-12" style="text-align: center;">
									<div class="footer-left">
										<p class="copyright">Copyright © 2024. All Right Reserved</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<!-- Back Top button -->
	<div class="back-top button-show">
		<i class="arrow_carrot-up"></i>
	</div>

	 <!-- Search -->
    <div class="search-overlay">
		<div class="wrapper-search">
            <div class="search-from">
				<div class="search-box">
                    <div class="d-flex">
                        <button id="searchsubmit" class="btn" onclick="search()">
                            <i class="icon-search"></i>
                        </button>
                        <input id="myInput" type="text" autocomplete="off" value="" name="s" class="input-search s"
                            placeholder="Search...">
                        <div class="close-search" onclick="cancelsearch()">Cancel</div>
                    </div>
                    <h4 id="noproduct" style="display: none;">No products founded</h4>
                    <div id="prodatas">
                        
                    </div>
				</div>
            </div>
		</div>
	</div>

	<!-- Dependency Scripts -->
	<script src="/libs/popper/js/popper.min.js"></script>
	<script src="/libs/jquery/js/jquery.min.js"></script>
	<script src="/libs/bootstrap/js/bootstrap.min.js"></script>
	<script src="/libs/slick/js/slick.min.js"></script>
	<script src="/libs/countdown/js/jquery.countdown.min.js"></script>
	<script src="/libs/mmenu/js/jquery.mmenu.all.min.js"></script>
	<script src="/libs/slider/js/tmpl.js"></script>
	<script src="/libs/slider/js/jquery.dependClass-0.1.js"></script>
	<script src="/libs/slider/js/draggable-0.1.js"></script>
	<script src="assets/js/app.js"></script>
	<script src="/libs/slider/js/jquery.slider.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

<script>
	const searchValue = document.getElementById("myInput")
    let clearTimer;
    searchValue.addEventListener("keyup", () => {
        document.getElementById("prodatas").innerHTML= "";
        document.getElementById("noproduct").style.display = "none"
        clearTimeout(clearTimer);
        clearTimer = setTimeout(() => {
            search();
        }, 1000)
    });
    function search(){
        const searchValue = document.getElementById("myInput").value
        $.ajax({
			url: "/search",
			method: "post",
			data: {
				searchValue
			},
			success: (response) => {
				if (response.status === "okay") {
					document.getElementById("prodatas").innerHTML= ""
                    displaySearch(response.products)
				} else {
					document.getElementById("noproduct").style.display = "block"
				}
			}
		})
    }

    function displaySearch(data) {
    const prodatasDiv = document.getElementById("prodatas");
    prodatasDiv.innerHTML = ""; // Clear previous search results
    
    data.forEach(product => {
        const productDiv = document.createElement("div");
        productDiv.classList.add("d-flex", "align-items-center");

        const imageDiv = document.createElement("div");
        imageDiv.style.width = "80px";
        imageDiv.style.height = "80px";
        imageDiv.style.backgroundColor = "rgb(255, 255, 255)";
        imageDiv.style.marginRight = "30px";
        imageDiv.innerHTML = `<img src="/uploads/${product.images[0]}" alt="product image">`;
        imageDiv.onclick = function() {
            window.location.href = `/productDetailspage?id=${product._id}`;
        };

        const infoDiv = document.createElement("div");
        infoDiv.style.display = "flex";
        infoDiv.style.flexDirection = "column";
        infoDiv.style.justifyContent = "center";
        infoDiv.innerHTML = `
            <h5 style="margin: 0;">${product.name}</h5>
            <p style="margin: 0;">₹${product.regularPrice}.00</p>
        `;

        productDiv.appendChild(imageDiv);
        productDiv.appendChild(infoDiv);
        prodatasDiv.appendChild(productDiv);

        const hr = document.createElement("hr");
        prodatasDiv.appendChild(hr);
    });
}

function cancelsearch(){
    document.getElementById("noproduct").style.display = "none"
    const prodatasDiv = document.getElementById("prodatas").innerHTML = "";
    const searchValue = document.getElementById("myInput").value =""
}
</script>
</html>