<% if (userData) { %>

    <% for (let i=0; i < userData.cart.length; i++) { %>
        <% if (userData.cart[i].productID===productDetails._id) { %>
            <a href="/cart" style="width: 100%; height: 50px; background-color: black; font-size: 20px;"
                class="d-flex justify-content-center align-items-center text-light">
                View Cart
            </a>
            <% } %>

                <% } %>


                    <% if (productDetails.stock===0) { %>
                        <div style="width: 100%; height: 50px; background-color: black; font-size: 20px;"
                            class="align-items-center justify-content-center d-flex text-light">
                            Unavailable
                        </div>
                        <% } else { %>
                            <div class="add-to-cart-wrap">
                                <div class="quantity">
                                    <button type="button" class="plus">+</button>
                                    <input readonly class="qty" step="1" min="0" max="" name="quantity" value="1"
                                        title="Qty" size="4" placeholder="" inputmode="numeric" autocomplete="off">
                                    <button type="button" class="minus">-</button>
                                </div>
                                <div class="btn-add-to-cart" onclick="addtocart('<%= productDetails._id %>')">
                                    <a id="addtocarttext">add to
                                        cart</a>
                                </div>
                            </div>
                            <div class="btn-quick-buy" data-title="Wishlist">
                                <button class="product-btn">Buy It
                                    Now</button>
                            </div>
                            <% } %>
                                <% } else { %>
                                    <% if (productDetails.stock===0) { %>
                                        <div style="width: 100%; height: 50px; background-color: black; font-size: 20px;"
                                            class="align-items-center justify-content-center d-flex text-light">
                                            Unavailable
                                        </div>
                                        <% } else { %>
                                            <div class="add-to-cart-wrap">
                                                <div class="quantity">
                                                    <button type="button" class="plus">+</button>
                                                    <input readonly class="qty" step="1" min="0" max="" name="quantity"
                                                        value="1" title="Qty" size="4" placeholder=""  inputmode="numeric" autocomplete="off">
                                                    <button type="button" class="minus">-</button>
                                                </div>
                                                <div class="btn-add-to-cart"
                                                    onclick="addtocart('<%= productDetails._id %>')">
                                                    <a id="addtocarttext">add to cart</a>
                                                </div>
                                            </div>
                                            <div class="btn-quick-buy" data-title="Wishlist">
                                                <button class="product-btn">Buy It Now</button>
                                            </div>
                                            <% } %>
                                                <% } %>