<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Meta Data -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FURNIX</title>

	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="32x32" href="media/favicon-16x16.png">

	<!-- Dependency Styles -->
	<link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="libs/feather-font/css/iconfont.css" type="text/css">
	<link rel="stylesheet" href="libs/icomoon-font/css/icomoon.css" type="text/css">
	<link rel="stylesheet" href="libs/font-awesome/css/font-awesome.css" type="text/css">
	<link rel="stylesheet" href="libs/wpbingofont/css/wpbingofont.css" type="text/css">
	<link rel="stylesheet" href="libs/elegant-icons/css/elegant.css" type="text/css">
	<link rel="stylesheet" href="libs/slick/css/slick.css" type="text/css">
	<link rel="stylesheet" href="libs/slick/css/slick-theme.css" type="text/css">
	<link rel="stylesheet" href="libs/mmenu/css/mmenu.min.css" type="text/css">
	<link rel="stylesheet" href="libs/slider/css/jslider.css">

	<!-- Site Stylesheet -->
	<link rel="stylesheet" href="assets/css/app.css" type="text/css">
	<link rel="stylesheet" href="assets/css/responsive.css" type="text/css">

	<!-- Google Web Fonts -->
	<link
		href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700&amp;display=swap"
		rel="stylesheet">
	<link
		href="https://fonts.googleapis.com/css?family=EB+Garamond:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&amp;display=swap"
		rel="stylesheet">
</head>

<body class="page">
	<div id="page" class="hfeed page-wrapper">
		<header id="site-header" class="site-header header-v1 absolute">
			<div class="header-mobile">
				<div class="section-padding">
					<div class="section-container">
						<div class="row">
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3 header-left">
								<div class="navbar-header">
									<button type="button" id="show-megamenu" class="navbar-toggle"></button>
								</div>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 header-center">
								<div class="site-logo">
									<a href="index-2.html">
										<img width="400" height="79" src="media/logo.png"
											alt="Ruper – Furniture HTML Theme" />
									</a>
								</div>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3 header-right">
								<div class="ruper-topcart dropdown">
									<div class="dropdown mini-cart top-cart">
										<div class="remove-cart-shadow"></div>
										<a class="dropdown-toggle cart-icon" href="/cart" role="button"
											data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<div class="icons-cart"><i class="icon-large-paper-bag"></i><span
													class="cart-count">2</span></div>
										</a>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>

			<div class="header-desktop">
				<div class="header-wrapper">
					<div class="section-padding">
						<div class="section-container p-l-r">
							<div class="row">
								<div class="col-xl-3 col-lg-2 col-md-12 col-sm-12 col-12 header-left">
									<div class="site-logo">
										<a href="index-2.html">
											<img width="400" height="79" src="media/logo.png"
												alt="Ruper – Furniture HTML Theme" />
										</a>
									</div>
								</div>

								<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 text-center header-center">
									<div class="site-navigation ml-auto">
										<nav id="main-navigation">
											<ul id="menu-main-menu" class="menu">
												<li class="level-0 menu-item">
													<a href="/"><span class="menu-item-text">home</span></a>
												</li>
												<li class="level-0 menu-item">
													<a href="/allproduct"><span class="menu-item-text">All</span></a>
												</li>
												<li class="level-0 menu-item">
													<a href="/about"><span class="menu-item-text">about
															us</span></a>
												</li>
												<li class="level-0 menu-item">
													<a href="/contact"><span
															class="menu-item-text">Contact</span></a>
												</li>
											</ul>
										</nav>
									</div>
								</div>


							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div id="site-main" class="site-main">
			<div id="main-content" class="main-content">
				<div id="primary" class="content-area">
					<div id="title" class="page-title">
						<div class="section-container">
							<div class="content-title-heading">
								<h1 class="text-title-heading">
									OTP Verification
								</h1>
							</div>

						</div>
					</div>

					<div id="content" class="site-content text-center" role="main">
						<div class="section-padding">
							<div class="section-container p-l-r">
								<div class="page-login-register d-inline-block">
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 sm-m-b-50">
											<div class="box-form-login">
												<h2>OTP Verification</h2>
												<div class="box-content">
													<div class="form-login">

														<div class="text-danger text-center" id="formAlert"
															style="display: none;">
															Please fill this field
														</div>
														<div class="username text-left">
															<label id="enterotp">Enter OTP</label>
															<input type="number" class="input-text" name="forgetOTP"
																id="registerOTP">
														</div>
														<p class="text-danger text-center" id="worngOTP"
															style="display: none;">Wrong OTP Please check your mail</p>
														<p id="resendmessage" style="color: red; display: none;">
															"Oops! Time's up.<br> Please resend a new OTP to confirm
														</p>

														<div class="d-flex text-center justify-content-center">

															<p id="countdown">00:59</p>
														</div>
														<div class="button-login">
															<input type="submit" class="button" name="login"
																value="Confirm" id="confirmbtn"
																onclick="registerOTPvalidation()">
														</div>
														<input type="submit" value="Resend OTP" id="resendLink"
															style="display: none; background-color: black; color: white;"
															onclick="registerOTPresendvalidation()">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><!-- #content -->
				</div><!-- #primary -->
			</div><!-- #main-content -->
		</div>

		<footer id="site-footer" class="site-footer background">
			<div class="footer">
				<div class="section-padding">
					<div class="section-container">
						<div class="block-widget-wrap">
							<div class="row">
								<div class="col-lg-3 col-md-6">
									<div class="block block-menu m-b-20">
										<h2 class="block-title">Contact Us</h2>
										<div class="block-content">
											<ul>
												<li>
													<a href="page-contact.html">616.774.0561</a>
												</li>
												<li>
													<a href="page-contact.html">866.453.4748</a>
												</li>
												<li>
													<a href="page-contact.html">HR Fax: 810.222.5439</a>
												</li>
												<li>
													<a href="page-contact.html">sales@ruperfurniture.com</a>
												</li>
											</ul>
										</div>
									</div>

									<div class="block block-social">
										<ul class="social-link">
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-instagram"></i></a></li>
											<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
											<li><a href="#"><i class="fa fa-behance"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="col-lg-3 col-md-6">
									<div class="block block-menu">
										<h2 class="block-title">Showroom</h2>
										<div class="block-content">
											<p>1000 84th Street SW , Byron Center, MI 49315</p>
											<p>AmericasMart Bldg. #1</p>
											<p>Suite 5C-1, Atlanta, GA 30303</p>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-6">
									<div class="block block-menu">
										<h2 class="block-title">Services</h2>
										<div class="block-content">
											<ul>
												<li>
													<a href="page-about.html">Sale</a>
												</li>
												<li>
													<a href="page-about.html">Quick Ship</a>
												</li>
												<li>
													<a href="page-about.html">New Designs</a>
												</li>
												<li>
													<a href="page-about.html">Accidental Fabric Protection</a>
												</li>
												<li>
													<a href="page-about.html">Furniture Care</a>
												</li>
												<li>
													<a href="page-about.html">Gift Cards</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-6">
									<div class="block block-newsletter">
										<h2 class="block-title">Newsletter</h2>
										<div class="block-content">
											<div class="newsletter-text">Enter your email below to be the first to know
												about new collections and product launches.</div>
											<form action="#" method="post" class="newsletter-form">
												<input type="email" class="bg-white" name="your-email" value=""
													size="40" placeholder="Email address">
												<span class="btn-submit">
													<input type="submit" value="Subscribe">
												</span>
											</form>
										</div>
									</div>
									<div class="block block-image">
										<img width="309" height="32" src="media/payments.png" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="section-padding">
					<div class="section-container">
						<div class="block-widget-wrap">
							<p class="copyright text-center">Copyright © 2022. All Right Reserved</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<!-- Back Top button -->
	<div class="back-top button-show">
		<i class="arrow_carrot-up"></i>
	</div>

	<!-- Page Loader -->
	<div class="page-preloader">
		<div class="loader">
			<div></div>
			<div></div>
		</div>
	</div>

	<!-- Dependency Scripts -->
	<script src="libs/popper/js/popper.min.js"></script>
	<script src="libs/jquery/js/jquery.min.js"></script>
	<script src="libs/bootstrap/js/bootstrap.min.js"></script>
	<script src="libs/slick/js/slick.min.js"></script>
	<script src="libs/countdown/js/jquery.countdown.min.js"></script>
	<script src="libs/mmenu/js/jquery.mmenu.all.min.js"></script>
	<script src="libs/slider/js/tmpl.js"></script>
	<script src="libs/slider/js/jquery.dependClass-0.1.js"></script>
	<script src="libs/slider/js/draggable-0.1.js"></script>
	<script src="libs/slider/js/jquery.slider.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
		integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<!-- Site Scripts -->
	<script src="assets/js/app.js"></script>
</body>
<script>

	function registerOTPvalidation() {
		const registerOTP = document.getElementById("registerOTP").value;
		if (registerOTP.trim() === "") {
			document.getElementById("formAlert").style.display = "block"
			setTimeout(() => {
				document.getElementById("formAlert").style.display = "none"
			}, 2000);
		}
		else {
			const userSideOTP = document.getElementById("registerOTP").value;
			$.ajax({
				url: "/userForgetOTPpost",
				method: "post",
				data: {
					userSideOTP
				},
				success: (response) => {
					if (response.status === true) {
						window.location.href = "/userLogin"
					}
					else if (response.status === false) {
						document.getElementById("worngOTP").style.display = "block";
						setTimeout(() => {
							document.getElementById("worngOTP").style.display = "none"
						}, 2000);
					}
				}
			})
		}
	};

	function registerOTPresendvalidation() {
		$.ajax({
			url: "/userforgetResentOTPpost",
			method: "post",
			success: (response) => {
				if (response.status === true) {
					window.location.href = "/userForgetOTP"
				}
			}
		})
	}

	function updateCountdown() {
		var countdownElement = document.getElementById('countdown');
		var time = countdownElement.innerText;
		var timeArray = time.split(':');
		var minutes = parseInt(timeArray[0]);
		var seconds = parseInt(timeArray[1]);

		if (seconds === 0) {
			if (minutes === 0) {
				clearInterval(timer);
				document.getElementById('resendLink').style.display = 'block'; // Show the resend link
				document.getElementById('countdown').style.display = "none"
				document.getElementById('resendmessage').style.display = "block"
				document.getElementById('confirmbtn').style.display = "none";
				document.getElementById('enterotp').style.display = "none"
				document.getElementById('registerOTP').style.display = "none"
				return;
			} else {
				minutes--;
			}
		} else {
			seconds--;
		}
		var minutesStr = minutes < 10 ? '0' + minutes : minutes;
		var secondsStr = seconds < 10 ? '0' + seconds : seconds;

		countdownElement.innerText = minutesStr + ':' + secondsStr;
	}
	var timer = setInterval(updateCountdown, 1000);



</script>

<!-- Mirrored from caketheme.com/html/ruper/page-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 26 Jan 2024 08:53:12 GMT -->

</html>