<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from caketheme.com/html/ruper/shop-wishlist.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 26 Jan 2024 08:52:33 GMT -->

<head>
	<!-- Meta Data -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FURNIX</title>

	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="32x32" href="media/favicon-16x16.png">

	<!-- Dependency Styles -->
	<link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="libs/feather-font/css/iconfont.css" type="text/css">
	<link rel="stylesheet" href="libs/icomoon-font/css/icomoon.css" type="text/css">
	<link rel="stylesheet" href="libs/font-awesome/css/font-awesome.css" type="text/css">
	<link rel="stylesheet" href="libs/wpbingofont/css/wpbingofont.css" type="text/css">
	<link rel="stylesheet" href="libs/elegant-icons/css/elegant.css" type="text/css">
	<link rel="stylesheet" href="libs/slick/css/slick.css" type="text/css">
	<link rel="stylesheet" href="libs/slick/css/slick-theme.css" type="text/css">
	<link rel="stylesheet" href="libs/mmenu/css/mmenu.min.css" type="text/css">
	<link rel="stylesheet" href="libs/slider/css/jslider.css">

	<!-- Site Stylesheet -->
	<link rel="stylesheet" href="assets/css/app.css" type="text/css">
	<link rel="stylesheet" href="assets/css/responsive.css" type="text/css">

	<!-- Google Web Fonts -->
	<link
		href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700&amp;display=swap"
		rel="stylesheet">
	<link
		href="https://fonts.googleapis.com/css?family=EB+Garamond:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&amp;display=swap"
		rel="stylesheet">
</head>
<style>
	 .swal-custom {
        background: linear-gradient(94deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.8240546218487395) 26%, rgba(0, 0, 0, 1) 53%, rgba(0, 0, 0, 0.8492647058823529) 79%, rgba(227, 227, 227, 0) 100%);
        color: #ffffff;
        width: 100%;
    }

    .swal-custom-ok-btn {
        color: black !important;
    }
</style>

<body class="shop">
	<div id="page" class="hfeed page-wrapper">
		<header id="site-header" class="site-header header-v2">
			<div class="header-mobile">
				<div class="section-padding">
					<div class="section-container large">
						<div class="row">
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3 header-left">
								<div class="navbar-header">
									<button type="button" id="show-megamenu" class="navbar-toggle"></button>
								</div>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 header-center">
								<div class="site-logo">
									<a href="/">
										<img width="400" height="79" src="media/logo.png"
											alt="Ruper – Furniture HTML Theme" />
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="header-mobile-fixed">
					<!-- Shop -->
					<div class="shop-page">
						<a href="/"><i class="wpb-icon-shop"></i></a>
					</div>

					<!-- Login -->
					<div class="my-account">
						<div class="login-header">
							<a href="/userProfile"><i class="wpb-icon-user"></i></a>
						</div>
					</div>

					<!-- Search -->
					<div class="search-box">
						<div class="search-toggle"><i class="wpb-icon-magnifying-glass"></i></div>
					</div>

					<!-- Wishlist -->
					<div class="wishlist-box">
						<a href="/wishlist"><i class="wpb-icon-heart"></i></a>
					</div>
				</div>
			</div>

			<div class="header-desktop"
				style="background: linear-gradient(94deg, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 53%, rgba(227,227,227,1) 100%);">
				<div class="header-wrapper">
					<div class="section-padding">
						<div class="section-container large p-l-r">
							<div class="row">
								<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 header-left">
									<div class="site-navigation">
										<nav id="main-navigation">
											<ul id="menu-main-menu" class="menu">
												<li class="level-0 menu-item">
													<a href="/"><span class="menu-item-text">home</span></a>
												</li>
												<li class="level-0 menu-item">
													<a href="/allproduct"><span class="menu-item-text">All</span></a>
												</li>
												<li class="level-0 menu-item">
													<a href="page-contact.html"><span class="menu-item-text">about us
														</span></a>
												</li>
												<li class="level-0 menu-item">
													<a href="page-contact.html"><span
															class="menu-item-text">Contact</span></a>
												</li>

											</ul>
										</nav>
									</div>
								</div>

								<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12 text-center header-center">
									<div class="site-logo">
										<a href="index2.html">
											<img width="400" height="79" src="media/logo.png"
												alt="Ruper – Furniture HTML Theme" />
										</a>
									</div>
								</div>

								<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 header-right">
									<div class="header-page-link">

										<!-- Search -->
										<div class="search-box">
											<div class="search-toggle"><i class="icon-search"></i></div>
										</div>

										<!-- Wishlist -->
										<div class="wishlist-box">
											<a href="/wishlist"><i class="icon-heart"></i></a>
										</div>

										<!-- Cart -->
										<div class="mini-cart top-cart wishlist-box">
											<a class="cart-icon" href="/cart">
												<div class="icons-cart"><i class="icon-large-paper-bag"></i>
											</a>
										</div>

									</div>

									<!-- profile -->
									<div class="wishlist-box">
										<a href="/userprofilepage"><i class="wpb-icon-user"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div id="site-main" class="site-main">
			<div id="main-content" class="main-content">
				<div id="primary" class="content-area">

					<div id="content" class="site-content" role="main" style="margin-top: 100px;">
						<div class="section-padding">
							<div class="section-container p-l-r">
								<div class="shop-wishlist col-lg-8"
									style="margin: 0 auto; width: 100%; max-width: 800px;">
									<table class="wishlist-items">
										<tbody>

											<% if (userData) { %>
												<% if (wishProducts.length !== 0) { %>
													<% for( let i = 0; i < wishProducts.length; i++ ) { %>
														<tr class="wishlist-item">
															<td class="wishlist-item-image">
																<a href="shop-details.html">
																	<img width="600" height="600" src="/uploads/<%= wishProducts[i].images[0] %>" alt="">
																</a>
															</td>
															<td class="wishlist-item-info">
																<div class="wishlist-item-name">
																	<a href="shop-details.html"><%= wishProducts[i].name %></a>
																</div>
																<div class="wishlist-item-price">
																	<span>₹<%= wishProducts[i].regularPrice %>.00</span>
																</div>
															</td>
															<td style="text-align: right;"><svg onclick="deleteproduct('<%= wishProducts[i]._id %>')" xmlns="http://www.w3.org/2000/svg" height="14" width="12.25"
																	viewBox="0 0 448 512">
																	<path fill="#000000"
																		d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
																</svg>
															</td>
														</tr>
													<% } %>
												<% } else { %>
													<div class="justify-content-center d-flex align-center"
														style="margin-bottom: 20px;">
														<div class="col-lg-12" style="width: 100%; height: 100px; background-color:
																			rgb(255, 255, 255); display: flex; justify-content: center;
																			align-items: center; border: 1px solid black;">
															<p style="color: black; margin-top: 10px;">Your Wishlist is empty. No
																items found</p>
														</div>
													</div>
													<div class="justify-content-center d-flex align-center"
														style="margin-bottom: 100px;">
														<a href="/allproduct"><button class="btn text-light"
																style="background-color: black; width: 200px; height: 40px; padding: 5px;">Go
																to product page</button></a>
													</div>
												<% } %>
											<% } else { %>
												<div class="justify-content-center d-flex align-center"
													style="margin-bottom: 20px;">
													<div class="col-lg-12" style="width: 100%; height: 100px; background-color:
																		rgb(255, 255, 255); display: flex; justify-content: center;
																		align-items: center; border: 1px solid black;">
														<p style="color: black; margin-top: 10px;">Please login</p>
													</div>
												</div>
												<div class="justify-content-center d-flex align-center"
													style="margin-bottom: 100px;">
													<a href="/userLogin"><button class="btn text-light"
															style="background-color: black; width: 200px; height: 40px; padding: 5px;">Go
															to login page</button></a>
												</div>
											<% } %>
											

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div><!-- #content -->

				</div><!-- #primary -->
			</div><!-- #main-content -->
		</div>

		<footer id="site-footer" class="site-footer background">
			<div class="footer">
				<div class="section-padding">
					<div class="section-container">
						<div class="block-widget-wrap">
							<div class="row">
								<div class="col-lg-3 col-md-6">
									<div class="block block-menu m-b-20">
										<h2 class="block-title">Contact Us</h2>
										<div class="block-content">
											<ul>
												<li>
													<a href="page-contact.html">616.774.0561</a>
												</li>
												<li>
													<a href="page-contact.html">866.453.4748</a>
												</li>
												<li>
													<a href="page-contact.html">HR Fax: 810.222.5439</a>
												</li>
												<li>
													<a href="page-contact.html">sales@ruperfurniture.com</a>
												</li>
											</ul>
										</div>
									</div>

									<div class="block block-social">
										<ul class="social-link">
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-instagram"></i></a></li>
											<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
											<li><a href="#"><i class="fa fa-behance"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="col-lg-3 col-md-6">
									<div class="block block-menu">
										<h2 class="block-title">Showroom</h2>
										<div class="block-content">
											<p>1000 84th Street SW , Byron Center, MI 49315</p>
											<p>AmericasMart Bldg. #1</p>
											<p>Suite 5C-1, Atlanta, GA 30303</p>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-6">
									<div class="block block-menu">
										<h2 class="block-title">Services</h2>
										<div class="block-content">
											<ul>
												<li>
													<a href="page-about.html">Sale</a>
												</li>
												<li>
													<a href="page-about.html">Quick Ship</a>
												</li>
												<li>
													<a href="page-about.html">New Designs</a>
												</li>
												<li>
													<a href="page-about.html">Accidental Fabric Protection</a>
												</li>
												<li>
													<a href="page-about.html">Furniture Care</a>
												</li>
												<li>
													<a href="page-about.html">Gift Cards</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-6">
									<div class="block block-newsletter">
										<h2 class="block-title">Newsletter</h2>
										<div class="block-content">
											<div class="newsletter-text">Enter your email below to be the first to know
												about new collections and product launches.</div>
											<form action="#" method="post" class="newsletter-form">
												<input type="email" class="bg-white" name="your-email" value=""
													size="40" placeholder="Email address">
												<span class="btn-submit">
													<input type="submit" value="Subscribe">
												</span>
											</form>
										</div>
									</div>
									<div class="block block-image">
										<img width="309" height="32" src="media/payments.png" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="section-padding">
					<div class="section-container">
						<div class="block-widget-wrap">
							<p class="copyright text-center">Copyright © 2022. All Right Reserved</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<!-- Back Top button -->
	<div class="back-top button-show">
		<i class="arrow_carrot-up"></i>
	</div>

	<!-- Search -->
	<div class="search-overlay">
		<div class="close-search"></div>
		<div class="wrapper-search">
			<form role="search" method="get" class="search-from ajax-search" action="#">
				<div class="search-box">
					<button id="searchsubmit" class="btn" type="submit">
						<i class="icon-search"></i>
					</button>
					<input id="myInput" type="text" autocomplete="off" value="" name="s" class="input-search s"
						placeholder="Search...">
					<div class="search-top">
						<div class="close-search">Cancel</div>
					</div>
					<div class="content-menu_search">
						<label>Suggested</label>
						<ul id="menu_search" class="menu">
							<li><a href="#">Furniture</a></li>
							<li><a href="#">Home Décor</a></li>
							<li><a href="#">Industrial</a></li>
							<li><a href="#">Kitchen</a></li>
						</ul>
					</div>
				</div>
			</form>
		</div>
	</div>

	<!-- Wishlist -->
	<div class="wishlist-popup">
		<div class="wishlist-popup-inner">
			<div class="wishlist-popup-content">
				<div class="wishlist-popup-content-top">
					<span class="wishlist-name">Wishlist</span>
					<span class="wishlist-count-wrapper"><span class="wishlist-count">2</span></span>
					<span class="wishlist-popup-close"></span>
				</div>
				<div class="wishlist-popup-content-mid">
					<table class="wishlist-items">
						<tbody>
							<tr class="wishlist-item">
								<td class="wishlist-item-remove"><span></span></td>
								<td class="wishlist-item-image">
									<a href="shop-details.html">
										<img width="600" height="600" src="media/product/3.jpg" alt="">
									</a>
								</td>
								<td class="wishlist-item-info">
									<div class="wishlist-item-name">
										<a href="shop-details.html">Chair Oak Matt Lacquered</a>
									</div>
									<div class="wishlist-item-price">
										<span>$150.00</span>
									</div>
									<div class="wishlist-item-time">June 4, 2022</div>
								</td>
								<td class="wishlist-item-actions">
									<div class="wishlist-item-stock">
										In stock
									</div>
									<div class="wishlist-item-add">
										<div data-title="Add to cart">
											<a rel="nofollow" href="#" class="button">Add to cart</a>
										</div>
									</div>
								</td>
							</tr>
							<tr class="wishlist-item">
								<td class="wishlist-item-remove"><span></span></td>
								<td class="wishlist-item-image">
									<a href="shop-details.html">
										<img width="600" height="600" src="media/product/4.jpg" alt="">
									</a>
								</td>
								<td class="wishlist-item-info">
									<div class="wishlist-item-name">
										<a href="shop-details.html">Pillar Dining Table Round</a>
									</div>
									<div class="wishlist-item-price">
										<del aria-hidden="true"><span>$150.00</span></del>
										<ins><span>$100.00</span></ins>
									</div>
									<div class="wishlist-item-time">June 4, 2022</div>
								</td>
								<td class="wishlist-item-actions">
									<div class="wishlist-item-stock">
										In stock
									</div>
									<div class="wishlist-item-add">
										<div data-title="Add to cart">
											<a rel="nofollow" href="#" class="button">Add to cart</a>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="wishlist-popup-content-bot">
					<div class="wishlist-popup-content-bot-inner">
						<a class="wishlist-page" href="shop-wishlist.html">
							Open wishlist page
						</a>
						<span class="wishlist-continue" data-url="">
							Continue shopping
						</span>
					</div>
					<div class="wishlist-notice wishlist-notice-show">Added to the wishlist!</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Compare -->
	<div class="compare-popup">
		<div class="compare-popup-inner">
			<div class="compare-table">
				<div class="compare-table-inner">
					<a href="#" id="compare-table-close" class="compare-table-close">
						<span class="compare-table-close-icon"></span>
					</a>
					<div class="compare-table-items">
						<table id="product-table" class="product-table">
							<thead>
								<tr>
									<th>
										<a href="#" class="compare-table-settings">Settings</a>
									</th>
									<th>
										<a href="shop-details.html">Chair Oak Matt Lacquered</a> <span
											class="remove">remove</span>
									</th>
									<th>
										<a href="shop-details.html">Zunkel Schwarz</a> <span
											class="remove">remove</span>
									</th>
									<th>
										<a href="shop-details.html">Namaste Vase</a> <span class="remove">remove</span>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr class="tr-image">
									<td class="td-label">Image</td>
									<td>
										<a href="shop-details.html">
											<img width="600" height="600" src="media/product/3.jpg" alt="">
										</a>
									</td>
									<td>
										<a href="shop-details.html">
											<img width="600" height="600" src="media/product/1.jpg" alt="">
										</a>
									</td>
									<td>
										<a href="shop-details.html">
											<img width="600" height="600" src="media/product/2.jpg" alt="">
										</a>
									</td>
								</tr>
								<tr class="tr-sku">
									<td class="td-label">SKU</td>
									<td>VN00189</td>
									<td></td>
									<td>D1116</td>
								</tr>
								<tr class="tr-rating">
									<td class="td-label">Rating</td>
									<td>
										<div class="star-rating">
											<span style="width:80%"></span>
										</div>
									</td>
									<td>
										<div class="star-rating">
											<span style="width:100%"></span>
										</div>
									</td>
									<td></td>
								</tr>
								<tr class="tr-price">
									<td class="td-label">Price</td>
									<td><span class="amount">$150.00</span></td>
									<td><del><span class="amount">$150.00</span></del> <ins><span
												class="amount">$100.00</span></ins></td>
									<td><span class="amount">$200.00</span></td>
								</tr>
								<tr class="tr-add-to-cart">
									<td class="td-label">Add to cart</td>
									<td>
										<div data-title="Add to cart">
											<a href="#" class="button">Add to cart</a>
										</div>
									</td>
									<td>
										<div data-title="Add to cart">
											<a href="#" class="button">Add to cart</a>
										</div>
									</td>
									<td>
										<div data-title="Add to cart">
											<a href="#" class="button">Add to cart</a>
										</div>
									</td>
								</tr>
								<tr class="tr-description">
									<td class="td-label">Description</td>
									<td>Phasellus sed volutpat orci. Fusce eget lore mauris vehicula elementum gravida
										nec dui. Aenean aliquam varius ipsum, non ultricies tellus sodales eu. Donec
										dignissim viverra nunc, ut aliquet magna posuere eget.</td>
									<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
										nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
										Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
										fugiat nulla pariatur.</td>
									<td>The EcoSmart Fleece Hoodie full-zip hooded jacket provides medium weight fleece
										comfort all year around. Feel better in this sweatshirt because Hanes keeps
										plastic bottles of landfills by using recycled polyester.7.8 ounce fleece
										sweatshirt made with up to 5 percent polyester created from recycled plastic.
									</td>
								</tr>
								<tr class="tr-content">
									<td class="td-label">Content</td>
									<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
										nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
										Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
										fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
										culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde
										omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
										rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
										beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
										aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
										ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
										quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
										tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</td>
									<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
										nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
										Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
										fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
										culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde
										omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
										rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
										beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
										aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
										ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
										quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
										tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</td>
									<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
										nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
										Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
										fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
										culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde
										omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
										rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
										beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
										aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
										ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
										quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
										tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</td>
								</tr>
								<tr class="tr-dimensions">
									<td class="td-label">Dimensions</td>
									<td>N/A</td>
									<td>N/A</td>
									<td>N/A</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Page Loader -->
	<!-- <div class="page-preloader">
		<div class="loader">
			<div></div>
			<div></div>
		</div>
	</div> -->

	<!-- Dependency Scripts -->
	<script src="libs/popper/js/popper.min.js"></script>
	<script src="libs/jquery/js/jquery.min.js"></script>
	<script src="libs/bootstrap/js/bootstrap.min.js"></script>
	<script src="libs/slick/js/slick.min.js"></script>
	<script src="libs/countdown/js/jquery.countdown.min.js"></script>
	<script src="libs/mmenu/js/jquery.mmenu.all.min.js"></script>
	<script src="libs/slider/js/tmpl.js"></script>
	<script src="libs/slider/js/jquery.dependClass-0.1.js"></script>
	<script src="libs/slider/js/draggable-0.1.js"></script>
	<script src="libs/slider/js/jquery.slider.js"></script>
	<script src="libs/elevatezoom/js/jquery.elevatezoom.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
		integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<!-- Site Scripts -->
	<script src="assets/js/app.js"></script>
</body>

<script>
	function deleteproduct(id){


		Swal.fire({
            title: "Are you sure?",
            text: "You want to discard this details?",
            showCancelButton: true,
            confirmButtonColor: "#FF0000",
            cancelButtonColor: "#ffffff",
            confirmButtonText: "Discard",
            customClass: {
                popup: 'swal-custom',
                cancelButton: 'swal-custom-ok-btn'
            }
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
				url: "/wishlist",
				method: "delete",
				data: {
					id
				},
				success: (response) => {
					if (response.status === "okay") {
						Swal.fire({
							icon: "success",
							title: "Product removed in your wishlist",
							showConfirmButton: false,
							customClass: {
								popup: 'swal-custom',
							},
							timer: 1500
						});
						setTimeout(() => {
							window.location.reload()
						}, 1000);
					} else if (response.status === "notlogin") {
						Swal.fire({
							title: "Please login",
							showCancelButton: true,
							confirmButtonColor: "#39e75f",
							cancelButtonColor: "#ffffff",
							confirmButtonText: "Go to login page",
							customClass: {
								popup: 'swal-custom',
								cancelButton: 'swal-custom-ok-btn'
							}
						}).then((result) => {
							if (result.isConfirmed) {
								window.location.href = "/userLogin"
							}
						});
					} else if (response.status === "blocked") {
						Swal.fire({
							title: "Oops ! . . .",
							text: "This product has been temporaily discontinued. click okay for reloading",
							showCancelButton: true,
							confirmButtonColor: "#39e75f",
							cancelButtonColor: "#ffffff",
							confirmButtonText: "Okay",
							customClass: {
								popup: 'swal-custom',
								cancelButton: 'swal-custom-ok-btn'
							}
						}).then((result) => {
							if (result.isConfirmed) {
								window.location.reload()
							}
						});
					}
				}
			})
            }
        });
	}

</script>
</html>