<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from caketheme.com/html/ruper/page-my-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 26 Jan 2024 08:52:33 GMT -->

<head>
	<!-- Meta Data -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FURNIX</title>

	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="32x32" href="media/favicon-16x16.png">

	<!-- Dependency Styles -->
	<link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="libs/feather-font/css/iconfont.css" type="text/css">
	<link rel="stylesheet" href="libs/icomoon-font/css/icomoon.css" type="text/css">
	<link rel="stylesheet" href="libs/font-awesome/css/font-awesome.css" type="text/css">
	<link rel="stylesheet" href="libs/wpbingofont/css/wpbingofont.css" type="text/css">
	<link rel="stylesheet" href="libs/elegant-icons/css/elegant.css" type="text/css">
	<link rel="stylesheet" href="libs/slick/css/slick.css" type="text/css">
	<link rel="stylesheet" href="libs/slick/css/slick-theme.css" type="text/css">
	<link rel="stylesheet" href="libs/mmenu/css/mmenu.min.css" type="text/css">
	<link rel="stylesheet" href="libs/slider/css/jslider.css">

	<!-- Site Stylesheet -->
	<link rel="stylesheet" href="assets/css/app.css" type="text/css">
	<link rel="stylesheet" href="assets/css/responsive.css" type="text/css">

	<!-- Google Web Fonts -->
	<link
		href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700&amp;display=swap"
		rel="stylesheet">
	<link
		href="https://fonts.googleapis.com/css?family=EB+Garamond:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&amp;display=swap"
		rel="stylesheet">
</head>
<style>
	.swal-custom {
		background: linear-gradient(94deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.8240546218487395) 26%, rgba(0, 0, 0, 1) 53%, rgba(0, 0, 0, 0.8492647058823529) 79%, rgba(227, 227, 227, 0) 100%);
		color: #ffffff;
		width: 100%;
	}

	.swal-custom-ok-btn {
		color: black !important;
	}
</style>

<body class="blog">
	<div id="page" class="hfeed page-wrapper">
		<header id="site-header" class="site-header header-v2">
			<div class="header-mobile">
				<div class="section-padding">
					<div class="section-container large">
						<div class="row">
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3 header-left">
								<div class="navbar-header">
									<button type="button" id="show-megamenu" class="navbar-toggle"></button>
								</div>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 header-center">
								<div class="site-logo">
									<a href="index2.html">
										<img width="400" height="79" src="media/logo.png"
											alt="Ruper – Furniture HTML Theme" />
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="header-mobile-fixed">
					<!-- Shop -->
					<div class="shop-page">
						<a href="shop-grid-left.html"><i class="wpb-icon-shop"></i></a>
					</div>

					<!-- Login -->
					<div class="my-account">
						<div class="login-header">
							<a href="page-my-account.html"><i class="wpb-icon-user"></i></a>
						</div>
					</div>

					<!-- Search -->
					<div class="search-box">
						<div class="search-toggle"><i class="wpb-icon-magnifying-glass"></i></div>
					</div>

					<!-- Wishlist -->
					<div class="wishlist-box">
						<a href="/wishlist"><i class="wpb-icon-heart"></i></a>
					</div>
				</div>
			</div>

			<div class="header-desktop" style="background: linear-gradient(94deg, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 53%, rgba(227,227,227,1) 100%);">
				<div class="header-wrapper">
					<div class="section-padding">
						<div class="section-container large p-l-r">
							<div class="row">
								<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 header-left">
									<div class="site-navigation">
										<nav id="main-navigation">
											<ul id="menu-main-menu" class="menu">
												<li class="level-0 menu-item">
													<a href="/"><span class="menu-item-text">home</span></a>
												</li>
												<li class="level-0 menu-item">
													<a href="/allproduct"><span class="menu-item-text">All</span></a>
												</li>
												<li class="level-0 menu-item">
													<a href="page-contact.html"><span class="menu-item-text">about us
														</span></a>
												</li>
												<li class="level-0 menu-item">
													<a href="page-contact.html"><span
															class="menu-item-text">Contact</span></a>
												</li>

											</ul>
										</nav>
									</div>
								</div>

								<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12 text-center header-center">
									<div class="site-logo">
										<a href="index2.html">
											<img width="400" height="79" src="media/logo.png"
												alt="Ruper – Furniture HTML Theme" />
										</a>
									</div>
								</div>

								<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 header-right">
									<div class="header-page-link">

										<!-- Search -->
										<div class="search-box">
											<div class="search-toggle"><i class="icon-search"></i></div>
										</div>

										<!-- Wishlist -->
										<div class="wishlist-box">
											<a href="/wishlist"><i class="icon-heart"></i></a>
										</div>

										<!-- Cart -->
										<div class="mini-cart top-cart wishlist-box">
											<a class="cart-icon" href="/cart">
												<div class="icons-cart"><i class="icon-large-paper-bag"></i>
											</a>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div id="site-main" class="site-main">
			<div id="main-content" class="main-content">
				<div id="primary" class="content-area">
					<div id="content" class="site-content" role="main">
						<div class="section-padding">
							<div class="section-container p-l-r">
								<div class="page-my-account">
									<div class="my-account-wrap clearfix" style="margin-top: 100px;">
										<nav class="my-account-navigation" style="padding: 0px;">
											<ul class="text-center">
												<li class="nav-item">
													<a class="nav-link" href="/userprofilepage">Dashboard</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" href="/orders">Orders</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" href="/address">Addresses</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" href="/accountDetails">Account details</a>
												</li>
												<li class="nav-item" style="background-color: rgb(0, 0, 0); ">
													<a class="nav-link text-light">Change password</a>
												</li>
												<li class="nav-item">
													<a class="nav-link text-dark" onclick="logout()">Logout</a>
												</li>
											</ul>
										</nav>
										<div class="my-account-content tab-content">
											<div
												class="my-account-account-details d-flex justify-content-center align-items-center">
												<div class="edit-account col-lg-8 ">
													<h3 class="text-center">Change password</h3>
													<p style="margin-top: 40px; color: red;" id="error1"
														class="text-center"></p>
													<p class="form-row">
														<label>Enter Current password</label>
														<input type="password" class="input-text" name="currentPassword"
															id="currentPassword">
													</p>
													<p style="margin-top: 10px; color: red;" id="error2"
														class="text-center"></p>
													<p class="form-row">
														<label>New password</label>
														<input type="password" class="input-text" name="newPassword"
															id="newPassword">
													</p>
													<p style="margin-top: 10px; color: red;" id="error3"
														class="text-center"></p>
													<p class="form-row">
														<label>Confirm new password</label>
														<input type="password" class="input-text" name="confirmPassword"
															id="confirmPassword">
													</p>
													<p style="margin-top: 10px; color: red;" id="error4"
														class="text-center"></p>
													<p
														class="form-row align-items-center d-flex justify-content-center">
														<button class="button" value="Save changes"
															onclick="validation()">Save
															changes</button>
													</p>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div><!-- #content -->
				</div><!-- #primary -->
			</div><!-- #main-content -->
		</div>

		<footer id="site-footer" class="site-footer background">
			<div class="footer">
				<div class="section-padding">
					<div class="section-container">
						<div class="block-widget-wrap">
							<div class="row">
								<div class="col-lg-3 col-md-6">
									<div class="block block-menu m-b-20">
										<h2 class="block-title">Contact Us</h2>
										<div class="block-content">
											<ul>
												<li>
													<a href="page-contact.html">616.774.0561</a>
												</li>
												<li>
													<a href="page-contact.html">866.453.4748</a>
												</li>
												<li>
													<a href="page-contact.html">HR Fax: 810.222.5439</a>
												</li>
												<li>
													<a href="page-contact.html">sales@ruperfurniture.com</a>
												</li>
											</ul>
										</div>
									</div>

									<div class="block block-social">
										<ul class="social-link">
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-instagram"></i></a></li>
											<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
											<li><a href="#"><i class="fa fa-behance"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="col-lg-3 col-md-6">
									<div class="block block-menu">
										<h2 class="block-title">Showroom</h2>
										<div class="block-content">
											<p>1000 84th Street SW , Byron Center, MI 49315</p>
											<p>AmericasMart Bldg. #1</p>
											<p>Suite 5C-1, Atlanta, GA 30303</p>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-6">
									<div class="block block-menu">
										<h2 class="block-title">Services</h2>
										<div class="block-content">
											<ul>
												<li>
													<a href="page-about.html">Sale</a>
												</li>
												<li>
													<a href="page-about.html">Quick Ship</a>
												</li>
												<li>
													<a href="page-about.html">New Designs</a>
												</li>
												<li>
													<a href="page-about.html">Accidental Fabric Protection</a>
												</li>
												<li>
													<a href="page-about.html">Furniture Care</a>
												</li>
												<li>
													<a href="page-about.html">Gift Cards</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-6">
									<div class="block block-newsletter">
										<h2 class="block-title">Newsletter</h2>
										<div class="block-content">
											<div class="newsletter-text">Enter your email below to be the first to know
												about new collections and product launches.</div>
											<form action="#" method="post" class="newsletter-form">
												<input type="email" class="bg-white" name="your-email" value=""
													size="40" placeholder="Email address">
												<span class="btn-submit">
													<input type="submit" value="Subscribe">
												</span>
											</form>
										</div>
									</div>
									<div class="block block-image">
										<img width="309" height="32" src="media/payments.png" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="section-padding">
					<div class="section-container">
						<div class="block-widget-wrap">
							<p class="copyright text-center">Copyright © 2022. All Right Reserved</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<!-- Back Top button -->
	<div class="back-top button-show">
		<i class="arrow_carrot-up"></i>
	</div>

	<!-- Search -->
	<div class="search-overlay">
		<div class="close-search"></div>
		<div class="wrapper-search">
			<form role="search" method="get" class="search-from ajax-search" action="#">
				<div class="search-box">
					<button id="searchsubmit" class="btn" type="submit">
						<i class="icon-search"></i>
					</button>
					<input id="myInput" type="text" autocomplete="off" value="" name="s" class="input-search s"
						placeholder="Search...">
					<div class="search-top">
						<div class="close-search">Cancel</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<!-- Page Loader -->
	<!-- <div class="page-preloader">
		<div class="loader">
			<div></div>
			<div></div>
		</div>
	</div> -->

	<!-- Dependency Scripts -->
	<script src="libs/popper/js/popper.min.js"></script>
	<script src="libs/jquery/js/jquery.min.js"></script>
	<script src="libs/bootstrap/js/bootstrap.min.js"></script>
	<script src="libs/slick/js/slick.min.js"></script>
	<script src="libs/countdown/js/jquery.countdown.min.js"></script>
	<script src="libs/mmenu/js/jquery.mmenu.all.min.js"></script>
	<script src="libs/slider/js/tmpl.js"></script>
	<script src="libs/slider/js/jquery.dependClass-0.1.js"></script>
	<script src="libs/slider/js/draggable-0.1.js"></script>
	<script src="libs/slider/js/jquery.slider.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
		integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<!-- Site Scripts -->
	<script src="assets/js/app.js"></script>
</body>

<script>
	function validation() {
		const currentPassword = document.getElementById("currentPassword").value;
		const newPassword = document.getElementById("newPassword").value;
		const confirmPassword = document.getElementById("confirmPassword").value;
		if (currentPassword.trim() === "" || newPassword.trim() === "" || confirmPassword.trim() === "") {
			document.getElementById("error1").textContent = "Fill this all fields";
			setTimeout(() => {
				document.getElementById("error1").textContent = "";
			}, 3000);
		} else {
			$.ajax({
				url: "/changepassword",
				method: "patch",
				data: {
					currentPassword,
					newPassword,
					confirmPassword
				},
				success: (response) => {
					if (response.status === true) {
						Swal.fire({
							icon: "success",
							title: "Password changed",
							showConfirmButton: false,
							timer: 2000,
							customClass: {
								popup: 'swal-custom',
							}
						}).then(() => {
							document.getElementById("currentPassword").value = "";
							document.getElementById("newPassword").value = "";
							document.getElementById("confirmPassword").value = "";
						})
					}
					else if (response.status === "currentwrong") {
						document.getElementById("error2").textContent = "Entered password is wrong";
						setTimeout(() => {
							document.getElementById("error2").textContent = "";
						}, 3000);
					} else if (response.status === "newpasslength") {
						document.getElementById("error3").textContent = "New password must need atleast 8 character";
						setTimeout(() => {
							document.getElementById("error3").textContent = "";
						}, 3000);
					}
					else if (response.status === "newpassstrength") {
						document.getElementById("error3").textContent = "Password must contain at least one lowercase letter, one uppercase letter, and one number.";
						setTimeout(() => {
							document.getElementById("error3").textContent = "";
						}, 3000);
					}
					else if (response.status === "bothpasswrong") {
						document.getElementById("error4").textContent = "Check your password";
						setTimeout(() => {
							document.getElementById("error4").textContent = "";
						}, 3000);
					}
				}
			})
		}
	}

	function logout() {
		Swal.fire({
			title: "Are you sure?",
			text: "You want to Logout from FURNIX?",
			showCancelButton: true,
			confirmButtonColor: "#FF0000",
			cancelButtonColor: "#ffffff",
			confirmButtonText: "Logout",
			customClass: {
				popup: 'swal-custom',
				cancelButton: 'swal-custom-ok-btn'
			}
		}).then((result) => {
			if (result.isConfirmed) {
				window.location.href = "/userLogout"
			}
		});
	}
</script>

</html>